/* Fonts */
/* Regular */

/* Extra Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
}
